#nav{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin: auto;
    background-color: rgb(34, 197, 197);
}
#dropdown_visit:hover #dropdown_menu{
    display: block;

}
#dropdown_menu{
    display: none;
    position: relative;
    z-index: 1;
    margin-top: 7.3%;
    width: max-content;
    padding-top: 0.5%;
    margin: auto;
}
#nav>div{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid rgb(40, 36, 36); */
    margin-right: 50px;
    color: white;
}
#nav>div:nth-child(2)>div{
    margin: 10px 20px;
    
}
#nav>div>img{
    height: 80px;
    width: 100px;
}
#search{
    width: 500px;
    height: 50px;
    margin: 15px 0px 0px 25px;
    /* margin-left: 25px; */
    border-radius: 5px;
    border: 0px;
}
#nav>div>div>select{
    margin-top: 20px;
}
#nav>:last-child>:last-child{
    margin-top: 30px;
}
#nav>:last-child>:last-child>a{
    color: white;
    text-decoration: none;
}
#nav>div:nth-child(2)>div>select{
    background-color: rgb(34, 197, 197);
    color: white;
    width: 115px;
    border: none;
}
#nav+div{
    margin: 20px 220px;
    margin-bottom: 70px;
}
#nav+div>img{
    width: 1100px;
}


/* Top */
#top{
    display: flex;
    justify-content: center;
    
}
#top>img{
    height: 100px;
    width: 20%;
}

/* Partnership */
#Partnership>h1{
    margin-left: 170px;
}
#Partnership>div{
    display: flex;
    justify-content: center;
    width: 88%;
    margin-left: 80px;
}
#Partnership>div>div{
    width: 21%;
    margin-left:25px ;
    text-align: left;
}
#Partnership>div>div>h4{
    color: rgb(245, 117, 26);
}
#Partnership>div>div>img{
    height: 200px;
    width: 100%;
    border-radius: 15px;
}
#event>img{
    width: 79%;
    margin: 30px 165px;
    border-radius: 15px;
}

/* Best Place */
#best_place>h1{
    margin-left: 160px;
}
#best_place>div{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 160px;
    gap: 30px;
}
#best_place>div>div>img{
        width: 100%;
        height: 200px;
        border-radius: 10px;
}
#best_place>div>div>p>a{
    color: rgb(22, 132, 132);
    text-decoration: none;
}
#best_place>div>div>p>a:hover{
    color: aqua;
    text-decoration: none;
}

/* kerela visitor */
#kerela_visit>img{
    width: 80%;
    margin: 20px 160px 50px;
    border-radius: 5px;
}
#kerela_visit>div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 80%;
    margin-left: 160px;
    gap: 20px;
}
#kerela_visit>div>div>img{
    width: 95%;
    border-radius: 10px;
    height: 200px;
}

/* Booking */
#booking{
    margin-top: 40px;
}
#booking>h1{
    margin-left: 160px;
}
#booking>div{
    display: flex;
    width: 80%;
    margin-left: 160px;
    gap: 20px;
}
#booking>div>div{
    width: 33%;
}
#booking>div>div>img{
    width: 95%;
    border-radius: 10px;
    height: 220px;
}
#booking>div>div>div{
    display: flex;
    justify-content: space-between;
    margin: -30px 10px 0px 0px;
}
#booking>div>div>div>button{
    height: 35px;
    width: 100px;
    margin-top: 15px;
    border-radius: 5px;
    color:rgb(27, 183, 183);
    border: 1px solid teal;
}
#booking>div>div>h3+div>h4{
    color: teal;
}
#booking>div>div>h3+div>h3{
    color: white;
    background-color: rgb(41, 106, 106);
    height: 30px;
    width: 80px;
    border-radius: 10px;
    margin-bottom: 25px;
    padding-left: 10px;
}
#maldiv>img{
    width: 80%;
    margin: 30px 160px 50px;
    border-radius: 5px;
}

/* booking1 */
#booking1{
    margin-top: 40px;
}
#booking1>h1{
    margin-left: 160px;
}
#booking1>div{
    display: flex;
    width: 80%;
    margin-left: 160px;
    gap: 20px;
}
#booking1>div>div{
    width: 33%;
}
#booking1>div>div>img{
    width: 95%;
    border-radius: 10px;
    height: 220px;
}
#booking1>div>div>div{
    display: flex;
    justify-content: space-between;
    margin: -30px 10px 0px 0px;
}
#booking1>div>div>div>button{
    height: 35px;
    width: 100px;
    margin-top: 15px;
    border-radius: 5px;
    color:rgb(27, 183, 183);
    border: 1px solid teal;
}
#booking1>div>div>h3+div>h4{
    color: teal;
}
#booking1>div>div>h3+div>h3{
    color: white;
    background-color: rgb(41, 106, 106);
    height: 30px;
    width: 80px;
    border-radius: 10px;
    margin-bottom: 25px;
    padding-left: 10px;
}

/* info */
#info{
    display: flex;
    justify-content:space-around;
    margin: 20px 50px 0px -50px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 30px 0px;

}
#info>div>a{
    color: rgb(84, 80, 80);
    text-decoration: none;
}
#info+p{
    margin:25px 45% 80px;
    color: rgb(84, 80, 80);
}