body{
    background-color: bisque;
}
#nav{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin: auto;
    background-color: rgb(34, 197, 197);
}
#dropdown_visit{
    padding: 15px;
    font-size: 20px;
}
#dropdown_visit:hover #dropdown_menu{
    display: block;
    border: 1px solid rebeccapurple;
    height: 400px;
    width: 200px;
    background-color: white;
    padding-left: 20px;
    padding-top: 20px;
}
#dropdown_visit:hover #dropdown_menu>a{
    text-decoration: none;
    color: black;
}
#dropdown_visit:hover #dropdown_menu>a:hover{
    color: crimson;
    background-color: azure;
    font-size: 25px;
}
#dropdown_menu{
    display: none;
    position: relative;
    z-index: 1;
    margin-top: 7.3%;
    width: max-content;
    padding-top: 0.5%;
    margin: auto;
}
#nav>div{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid rgb(40, 36, 36); */
    margin-right: 50px;
    color: white;
}
#nav>div:nth-child(2)>div{
    margin: 10px 20px;
    
}
#nav>div>a>img{
    height: 80px;
    width: 100px;
}
#search{
    width: 500px;
    height: 50px;
    margin: 15px 0px 0px 25px;
    /* margin-left: 25px; */
    border-radius: 5px;
    border: 0px;
}
#nav>div>div>select{
    margin-top: 20px;
}
#nav>:last-child>:last-child{
    margin-top: 30px;
}
#nav>:last-child>:last-child>a{
    color: white;
    text-decoration: none;
}
#nav>div:nth-child(2)>div>select{
    background-color: rgb(34, 197, 197);
    color: white;
    width: 115px;
    border: none;
}
#nav+div{
    margin: 20px 220px;
    margin-bottom: 70px;
}
#nav+div>img{
    width: 1100px;
}

/* info */
#info{
    display: flex;
    justify-content:space-around;
    margin: 20px 50px 0px -50px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 30px 0px;

}
#info>div>a{
    color: rgb(84, 80, 80);
    text-decoration: none;
}
#info+p{
    margin:25px 45% 80px;
    color: rgb(84, 80, 80);
}
#info>div>div:nth-child(1){
    display: flex;
    width: 20%;
}
#info>div>div:nth-child(1)>img{
    width: 10px;
    height: 10px;
}